// Colors
$color-black: #000;
$color-white: #fff;
$color-primary: #9cc5c9;
$color-secondary: #d5544f;
$color-beige: #cdb599;
$color-purple: #a08689;

// media breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-xl: 992px;
$screen-lg: 1200px;
